# Ignore all files by default
*

# Ignore database and large files
*.tar.gz
*.aselmdb
*.aselmdb-lock
*.png
*.pdf
*.xyz/
**/*.xyz/
*.out

!*/

!*.py
!*.txt
!*.csv
!.gitignore
!*.yml
!README.md
!.assets/github_banner.png

banner.py
