# Ignore all files by default
*

# Ignore database and large files
*.tar.gz
*.aselmdb
*.aselmdb-lock
*.png
*.xyz/
**/*.xyz/
*.out

!*/

!*.py
!*.csv
!.gitignore
!*.yml
!README.md
!github_banner.png

banner.py
